html
      head
            meta(charset='utf-8')
            title Productos
            link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
      head
            block products
            block form
            block modal
